<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InformeProyectos.Properties.Settings._2damXXConnectionString"
            connectionString="Data Source=192.168.1.100,10401;Initial Catalog=2damXX;Persist Security Info=True;User ID=2damXX;Password=abcd_1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>